numpy==1.2.3
pandas==2.3.2

code ==> ship ==> deployment server ==> package availability

[local machine
    [container
    runtime(python)
    files(codes)
    libraries(numpy, pandas, blah blah ..)
    ]

]

gloud run <---[container], gke <----[container]
all platforms can hold containers?? --> NOT


cloud run <---github(soruce code)



