* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  background-color: #3C0753;
}

.container {
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0 auto;
}

.Logo {
  /* width: 200px; */
  max-width: 100%;
  height: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
}

.navbar-menu-container {
  color: #fff;
  display: none;
}

.navbar-links-container a {
  margin-right: 6rem;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  transition: 0.2s;
}

.navbar-links-container a:hover {
  color: #e48f0f;
}

.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}

.navbar-github-icon {
  position: absolute;
  width: 30px;
  cursor: pointer;
  transition: 0.1s;
}

.navbar-github-icon:hover {
  background-color: #e48f0f;
  border-radius: 30px;
}

.home-banner-container {
  position: relative;
  display: flex;
  padding-top: 5rem;
  padding-right: 7rem;
}

.home-bannerImage-container {
  position: absolute;
  top: -100px;
  right: -170px;
  z-index: -2;
  max-width: 700px;
}

.home-image-section {
  padding-left: 80px;
  max-width: 500px;
  flex: 1;
}

.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}

.primary-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #fff;
  max-width: 600px;
}

.secondary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: #fff;
  margin: 1.5rem 0;
}

.secondary-button {
  padding: 1rem 2.5rem;
  background-color: #A5DD9B;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: rgb(13, 11, 11);
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in {
  animation: fadeIn .5s ease-in-out;
}


.FileUploader .upload_file{
  /* background-color: #f3f1f1; */
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed #1475cf;
  height: 300px;
  width: 500px;
  cursor: pointer;
  border-radius: 5px;
}
.FileUploader p{
  color: #fff;
}

.uploaded{
  margin: 10px 0;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-radius: 5px;
  background-color:#A5DD9B;
}
.uploded-file{
  display: flex;
  align-items: center;
}
.upload_button{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 1.5rem;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.taking_inputs input,
.Quary_Search_button {
  animation: fadeIn 3s ease-in-out;
}
.taking_inputs {
  display: flex;
  justify-content: space-between;
}

.taking_inputs ::placeholder{
  color: #e9ebedcb;
}

.taking_inputs 
  input {
    color: #e9ebed;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 30px;
    box-sizing: border-box;
    border: 2px solid #13143f;
    border-radius: 18px;
    background-color: #127de1b4;;
    font-size: 16px;
    transition: 0.3s;
    
 
  
  input:focus {
    border-color: #4CAF50;
    outline: none;
  }
  .Quary_Search_button{
    
    margin-left: auto;
    text-align: center;
    
  
  }
  
}
.date_picker{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  user-select: none;
  
}
.date_picker label {
  color: #e9ebed;
  padding-right: 10px;
}
.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}

.secondary-button:hover {
  background-color: #e48f0f;
}

.footer-wrapper {
  margin: 6rem 0rem;
  display: flex;
  margin-top: 10rem;
}
.footer-logo-container {
  max-width: 110px;
}
.footer-icons {
  margin-top: 2.5rem;
}
.footer-icons svg {
  font-size: 1.5rem;
  margin-right: 1.25rem;
  color: #fff;
}
.footer-section-two {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.footer-section-columns {
  display: flex;
  flex-direction: column;
  min-width: 190px;
}
.footer-section-columns span {
  margin: 0.32rem 0rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}





.contact_us  {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 70%;
    font-size: 16px;

   input {
    background: #63595b;
     margin-top: 10px;
     margin-bottom: 10px;
      width: 100%;
      height: 35px;
      padding: 7px;
      outline: none;
      border-radius: 5px;
      border: 1px solid rgb(220, 220, 220);

      &:focus {
        border: 2px solid rgba(0, 206, 158, 1);
      }
    }

    textarea {
      background-color: #63595b;
      margin-top: 10px;
      max-width: 60%;
      min-width: 100%;
      width: 100%;
      max-height: 100px;
      min-height: 100px;
      padding: 7px;
      outline: none;
      border-radius: 5px;
      border: 1px solid rgb(220, 220, 220);
    

      &:focus {
        border: 2px solid rgba(0, 206, 158, 1);
      }
    }

    label {
      margin-top: 1rem;
      color: #d75420;
    }
    input[type="submit"] {
      margin-top: 2rem;
      width: 30%;
      cursor: pointer;
      background: rgb(249, 105, 14);
      color: white;
      border: none;
    }
    

  }
  .alert_message{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    padding:20px;
    background-color: #f8d7da;
    color:#2d312dc6;
    border:1px solid #f5c6cb;
    border-radius: 5px;
  }
  
  .alert button {
    margin-top: 10px;
    padding: 15px 10px;
    border: none;
    background-color: #3c3b3d;
    color: white;
    cursor: pointer;
  }
  


@media (max-width: 800px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }

  .home-bannerImage-container {
    max-width: 600px;
  }
}

@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 140px;
  }

  .navbar-links-container {
    display: none;
  }

  .navbar-menu-container {
    display: flex;
  }

  .home-bannerImage-container {
    max-width: 400px;
  }

  .home-banner-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

 
  .home-image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
  }

  .primary-heading {
    text-align: center;
    max-width: 90%;
  }

  .secondary-text {
    text-align: center;
    max-width: 80%;
  }

  .home-text-section {
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-left: 2rem;
  }
  
.taking_inputs 
input{
  margin-left: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 200px;
}

  .secondary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }
  .mixed-chart {
   margin-left: 2rem;
    justify-content: center;
    align-items: center;
    }
   
  .footer-wrapper {
    flex-direction: column;
  }

  .footer-section-two {
    flex-direction: column;
    margin-top: 2rem;
  }

  .footer-section-columns {
    margin: 1rem 0;
  }

  .App {
    max-width: 95vw;
  }
}

@media (max-width: 600px) {

  .home-bannerImage-container{
    display: none;
  }
}